[Unit]
Description=Video Presentation in Kiosk Mode
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/videopresi/scripts/start.sh
Restart=always
RestartSec=20

[Install]
WantedBy=graphical-session.target
