<html lang="de-DE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kelternmuseum Unterjesingen - Video Presentation Einwecken</title>
    <link rel="stylesheet" href="/static/styles/three-videos.css">
    <link rel="stylesheet" href="/static/styles/main-styles.css">
    <link rel="icon" href="/static/images/logo_inv.svg" type="image/x-icon">
    <script>
        const imgPath = "/static/images/";
        const videoPath = "/static/videos/"
    </script>
</head>
<body>
<div class="slogan-container">
    <div class="shadow"></div>
    <h1 class="slogan">ENTDECKE NEUES AUS ALTEN ZEITEN!</h1>
</div>
<main>
    <div class="video">
        <img class="slide-img" id="img-kizwebro" src="">
        <div class="shadow"></div>
        <h2>Kirschen Zwetschken Brombeeren</h2>
        <p>Einkochen Einwecken Eindünsten (5:46)</p>
        <a class="button" onclick="playVideo(videoPath + 'KiZweBro.mp4')">Film starten</a>
    </div>
    <div class="video">
        <img class="slide-img" id="img-haltbarmachen" src="">
        <div class="shadow"></div>
        <h2>Lebensmittel haltbar machen</h2>
        <p>Erklärungen und Geschichten (6:48)</p>
        <a class="button" onclick="playVideo(videoPath + 'haltbarmachen.mp4')">Film starten</a>
    </div>
    <div class="video">
        <img class="slide-img" id="img-baecker" src="">
        <div class="shadow"></div>
        <h2>Der Bäcker</h2>
        <p>Ein Freitag in der Backstube (6:32)</p>
        <a class="button" onclick="playVideo(videoPath + 'baecker.mp4')">Film starten</a>
    </div>
</main>

<div class="logo-container">
    <img style="float: right;" src="/static/images/logo_inv.svg">
</div>

<script type="module" src="/static/scripts/einwecken.js"></script>
<script>
    document.querySelector('#img-kizwebro').src = imgPath + 'kizwebro/img01.png';
    document.querySelector('#img-haltbarmachen').src = imgPath + 'haltbarmachen/img01.png';
    document.querySelector('#img-baecker').src = imgPath + 'baecker/img01.png';
</script>

</body>
</html>
