@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('../fonts/Calibri_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Broadsheet';
    src: url('../fonts/BroadsheetRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Calibri', serif;
    background-color: #70ad47;
    background-image: url('../images/textur.avif');
    background-size: cover;
    background-blend-mode: multiply;
    color: #fff;
    user-select: none;
    /*cursor:none;*/
}